::placeholder{
    color:aliceblue;
    text-align: center;
}

body {
    background-color: #343a40;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
}

.form--login{
    width: 300px;
    height: 40px;
    margin-top: 25px;
    border-radius: 25px;
    background-color:#34526f;
    color: #ffffff;
    font-size: large;
    font-weight: 600;

    box-shadow: inset 0 0 0 0 #141f2a;
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    cursor: pointer;
}

hr{
    color: #343a40;
    border-color: #343a40;
}

.form--signup{
    width: 300px;
    height: 40px;
    margin-top: 25px;
    border-radius: 25px;
    background-color: rgb(29 155 240);
    color: #ffffff;
    font-size: large;
    font-weight: 600;

    box-shadow: inset 0 0 0 0 #34526f;
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    cursor: pointer;
}

.form--login:hover {
    box-shadow: inset 300px 0 0 0 #2e4861;
    color: white;
}

.form--signup:hover {
    box-shadow: inset 300px 0 0 0 rgb(50, 140, 200);
    color: white;
}
