*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #212529;
    
    font-family: 'Nunito', sans-serif;
}

.navbar{
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    color: #4dd0e1;
    background-color: #212121;
    margin: 0px;
    padding: 0px;
    position: fixed;
    box-shadow: 1px 1px 10px #37474f;
}

.navbar--appname{
    padding-left: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: auto;
    font-weight: 600;
    font-size: large;
    color: #4dd0e1;
}

.navbar--icons{
    padding-right: 30px;
    justify-content: flex-end;
    margin-top: 25px;
    margin-bottom: 25px;
}



.navbar--icons > a > .material-icons{
    align-content: flex-end;
    width: 24px;
    margin: 10px;
    color: #4dd0e1 !important; 
}

.material-icons:hover{
    opacity: 50%;
}

.commentTitle{
    margin: 0; 
    display: inline !important; 
    font-size: 25px; 
    color: white;
}





.middle--panel {
    overflow: auto;
    height: auto;
    
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}



.middle--panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



body::-webkit-scrollbar,
.left--panel::-webkit-scrollbar,
.middle--panel::-webkit-scrollbar,
.right--panel::-webkit-scrollbar {
    display: none;
}

.pending--friends{
    display: flex;
    align-items: center;
    color: #dee2e6; 
}

.liker{
    display: flex;
    align-items: center;
    color: #dee2e6;
    margin: 10px; 
}

.modal .modal-footer {
    display: flex;
    justify-content: center;
}

.post--card{
    height: fit-content;
    width: 600px;
    border: solid 2px;
    border-color: #343a40;
    background-color: #343a40;
    color: #dee2e6;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.card--navbar{
    display: flex;
    padding-left: 5px;
    padding-top: 5px;
    align-items: center;
}

.card--navbar > .material-icons{
    color: red;
    font-size: 45px;
}

.name--time--page{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
}

.name--page{
    display: flex;
    align-items: center;
}

.card--title{
    padding: 10px;
    font-size: 36px;
    font-weight: 600;
}

.card--content{
    padding: 10px;
    font-size: medium;
}

.page--list{
    list-style: none;
    padding-left: 0px;
    color: #dee2e6;
}

a{
    color: #dee2e6;
    text-decoration: none;
}

.pages--followed{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.pages--followed > a{
    margin-left: 7px;
}

.like--comment{
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
}

.likenumber{
    margin-right: 40px;
}
.likebuttonUnliked{
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: 2px solid #4CAF50 !important;
    border-radius: 10px !important;
}
.likebuttonLiked{
    margin: 5px;
    background-color: #4CAF50 !important;
    border: 2px solid #4CAF50 !important;
    border-radius: 10px !important;
}

.likebuttonUnliked:hover {
    background-color: #4CAF50 !important;
    color: white;
  }
.comment{
    margin-left: 10px;
}

.profilePic{
    height: 55px !important;
    width: 55px !important;
    border-radius: 50% !important;
}
.commentprofilePic{
    height: 45px !important;
    width: 45px !important;
    border-radius: 50% !important;
}
.profile--name{
    font-size: medium;
}
.post--time{
    font-size: small;
}
#postlikes{
    width: fit-content;
    border: solid 2px #4CAF50 !important;
    border-radius: 23px;
}
#commentlikes{
    width: fit-content;
    border: solid 2px #4CAF50 !important;
    border-radius: 23px;
}
.modal-content{
    background-color: #131416 !important;
}
.modal-footer{
    background-color: #131416 !important;
}