*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #263238;
    
    font-family: 'Nunito', sans-serif;
}

.navbar{
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    color: #dee2e6;
    background-color: #343a40;
    margin: 0px;
    padding: 0px;
}

.navbar--appname{
    padding: 30px;
    
    margin-right: auto;
}

.navbar--icons{
    padding: 30px;
    justify-content: flex-end;
}

.link{
    color: #4CAF50 !important;
}

.navbar--icons > .material-icons{
    align-content: flex-end;
    width: 24px;
    margin: 10px;
    
}


.material-icons:hover{
    opacity: 50%;
}

.main--page{
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.middle--panel{
    overflow: auto;
    height: auto;
    
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

body::-webkit-scrollbar,
.left--panel::-webkit-scrollbar,
.middle--panel::-webkit-scrollbar,
.right--panel::-webkit-scrollbar {
    display: none;
}



.post--card{
    height: fit-content;
    width: 600px;
    border: solid 2px;
    border-color: #343a40;
    background-color: #343a40;
    color: #dee2e6;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}


a{
    color: #dee2e6;
    text-decoration: none;
}


.likebuttonUnliked{
    margin: 5px;
    color: #263238 !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    border: 2px solid #263238 !important;
    border-radius: 10px !important;
}

.likebuttonUnliked:hover {
    background-color: #263238 !important;
    color: white !important;
  }

input{
    color: #263238 !important;
}
  /* label color */
.input-field label {
color: #263238;
}
/* label focus color */
.input-field input[type=text]:focus + label {
color: #263238;
}
/* label underline focus color */
.input-field input[type=text]:focus {
border-bottom: 1px solid #263238;
box-shadow: 0 1px 0 0 #263238;
}
/* valid color */
.input-field input[type=text].valid {
border-bottom: 1px solid #263238;
box-shadow: 0 1px 0 0 #263238;
}
/* invalid color */
.input-field input[type=text].invalid {
border-bottom: 1px solid #263238;
box-shadow: 0 1px 0 0 #263238;
}
/* icon prefix focus color */
.input-field .prefix.active {
color: #263238;
}

#loginbutton:hover{
    text-decoration: underline;
}