{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/post--styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>Post</title>
</head>

<body>

    <div class="navbar">
        <p class="navbar--appname">Uni Network</p>
        <div class="navbar--icons">
            <a class="link" href=""><i class="material-icons">create</i></a>
            <a class="link" href=""><i class="material-icons">pages</i></a>
            <a class="link" href="/friends"><i class="material-icons">people</i></a>
            <a class="link" href=""><i class="material-icons">person</i></a>
        </div>

    </div>

    <div class="main--page">
        <div class="left--panel">
            <p class="left--text">Pending Friend Requests</p>
            {% for requester in friendRequests %}
            <div class="pending--friends">
                <img class = "profilePic" src="{% static 'images/testimg.jpg' %}" alt="">
                &nbsp;&nbsp;
                <p class="left--accountName"><a href="/user/{{ requester.username }}">{{ requester.username }}</a></p>
                &nbsp;&nbsp;
                <button class="friendRequest" id="accept{{ requester.username }}">Accept</button>
                <button class="friendRequest" id="reject{{ requester.username }}">Reject</button>
            </div>
            {% endfor %}
        </div>
        

        <div class="middle--panel">
            <p class="left--text">My Friends</p>
            {% for friend in myFriends %}
            <div class="pending--friends">
                <img class = "profilePic" src="{% static 'images/testimg.jpg' %}" alt="">
                &nbsp;&nbsp;
                <p class="left--accountName"><a href="/user/{{ friend.username }}">{{ friend.username }}</a></p>
            </div>
            {% endfor %}
        </div>
        <div class="right--panel">
            <p class="right--text">Explore</p>
            {% for person in unknownPeople %}
            <div class="pending--friends">
                <img class = "profilePic" src="{% static 'images/testimg.jpg' %}" alt="">
                &nbsp;&nbsp;
                <p class="left--accountName"><a href="/user/{{ person.username }}">{{ person.username }} </a></p>
                &nbsp;&nbsp;
                <button class="sendRequest" id="{{person.username}}"> Send Request </button>

            </div>
            {% endfor %}
            {% for person in mySentPendingReqs %}
            <div class="pending--friends">
                <img class = "profilePic" src="{% static 'images/testimg.jpg' %}" alt="">
                &nbsp;&nbsp;
                <p class="left--accountName"><a href="/user/{{ person.username }}">{{ person.username }} </a></p>
                <button type="button" disabled>Friend request sent</button>

            </div>
            {% endfor %}
        </div>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).on('click', '.sendRequest', function(event){
    event.preventDefault();
    var id = event.target.id;
    var userid = id;
    $.ajax({
        type:'GET',
        url:'',
        data:{
            tag:'sendrequest',
            userid:userid,
        },
        success:function(){
        elem = $('#popupmessage-add');
              elem.fadeIn(400);
              elem.delay(2200);
              elem.fadeOut(400);
              
              }
          });
      }

    );

    $(document).on('click', '.friendRequest', function(event){
    event.preventDefault();
    var id = event.target.id;
    var type = id.slice(0,6);
    var userid = id.slice(6);
    if(type === 'accept'){
          $.ajax({
              type:'GET',
              url:'',
              data:{
                  tag:'friendrequest',
                  type:'accept',
                  userid:userid,
              },  
              success:function(){
              elem = $('#popupmessage-add');
              elem.fadeIn(400);
              elem.delay(2200);
              elem.fadeOut(400);
              
              }
          });
      }
    else{
        $.ajax({
              type:'GET',
              url:'',
              data:{
                  tag:'friendrequest',
                  type:'reject',
                  userid:userid,
              },  
              success:function(){
              elem = $('#popupmessage-add');
              elem.fadeIn(400);
              elem.delay(2200);
              elem.fadeOut(400);
              
              }
          });
    }
    
    });


</script>

</html>