{% load static %}
{% load extratags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/allpages--styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>Post</title>
    <style>
        .friendname{
            color: #263238;
            font-size: medium;
            margin: 5%;
        }
        .friendname:hover{
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <p class="navbar--appname"><a href="{% url 'feed' %}" style="color: inherit">UniNetwork</a></p>
        <div class="navbar--icons">
            <a href="{% url 'feed' %}"><i class="material-icons">create</i></a>
            <a href="{% url 'allPages' %}"><i class="material-icons">pages</i></a>
            <a href="{% url 'profile' request.user.username %}"><i class="material-icons">person</i></a>
        </div>

    </div>

    <div class="main--page">
        <div class="left--panel" style="width: 33% !important; text-align: center;">
            <p style="font-size: 30px;" class="left--text">Pending Friend Request</p>
            {% for requester in friendRequests %}
            <div id="requestcard{{ requester.username }}" style="margin-left: 42px;" class="pending--friends post--card">
                <img src="{% static 'images/testimg.jpg' %}" class="profilePic" alt="">
                &nbsp;&nbsp;
                <p class="left--accountName">{{ requester.username }}</p>
                <div id="{{ requester.username }}buttons">
                    <button class="friendRequest friendaccept waves-effect btn" style="font-family: 'Nunito', sans-serif; font-size: small; margin-right: 2px;" id="accept{{ requester.username }}">Accept</button>
                    <button class="friendRequest friendreject waves-effect btn" style="font-family: 'Nunito', sans-serif; font-size: small; margin-left: 2px;" id="reject{{ requester.username }}">Reject</button>
                    <!-- <button class="friendRequest disabled waves-effect btn" style="font-family: 'Nunito', sans-serif; font-size: small; margin-left: 2px; background-color: #2f5d3e !important;" id="reject{{ requester.username }}">Request Accepted</button> -->
                </div>
            </div>
            {% endfor %}
        </div>
        

        <div id="middlepanel" class="middle--panel" style="width: 33% !important; text-align: center;">
            <p style="font-size: 30px;" class="left--text">My Friends</p>
            {% for friend in myFriends %}
            <div id="existingFriend{{ friend.username }}" class="pending--friends post--card " style="display: inline-flex; justify-content: center;">
                <a href="{% url 'profile' friend.username %}">
                    <img class = "profilePic" src="{% static 'images/testimg.jpg' %}" alt="">
                </a>
                <a href="{% url 'profile' friend.username %}" class="friendname ">{{ friend.username }}</a>
                <a class="likebuttonUnliked waves-effect btn unfriend" id="unfriend{{ friend.username }}">❌UNFRIEND</a>
            </div>
            {% endfor %}
        </div>
        <div id="rightpanel" class="right--panel" style="width: 33% !important; text-align: center;">
            <p style="font-size: 30px;" class="right--text">Add New Friends</p><br>
            {% for person in mySentPendingReqs %}
            <div class="pending--friends post--card " style="display: inline-flex; justify-content: center;">
                <a href="{% url 'profile' person.username %}">
                    <img class = "profilePic" src="{% static 'images/testimg.jpg' %}" alt="">
                </a>
                <a href="{% url 'profile' person.username %}" class="friendname">{{ person.username }}</a>
                <button class="disabled waves-effect btn" style="font-family: 'Nunito', sans-serif; font-size: small; margin-left: 2px; background-color: #5f6568 !important;">Friend request sent</button>

            </div>
            <br>
            {% endfor %}
            {% for person in unknownPeople %}
            <div id="randompeople{{ person.username }}" class="pending--friends post--card " style="display: inline-flex; justify-content: center;">
                <a href="{% url 'profile' person.username %}">
                    <img class = "profilePic" src="{% static 'images/testimg.jpg' %}" alt="">
                </a>
                <a href="{% url 'profile' person.username %}" class="friendname">{{ person.username }}</a>
                <a class="sendRequest likebuttonUnliked waves-effect btn" style="font-size: small;" id="{{person.username}}">Send Friend Request</a>
            </div>
            <br>
            {% endfor %}
        </div>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).on('click', '.sendRequest', function(event){
    event.preventDefault();
    var id = event.currentTarget.id;
    var elem = event.currentTarget;
    var userid = id;
    $.ajax({
        type:'GET',
        url:'',
        data:{
            tag:'sendrequest',
            userid:userid,
        },
        success:function(){
            var rejected = document.createElement('button');
            rejected.className = "disabled waves-effect btn";
            rejected.setAttribute('style',"font-family: 'Nunito', sans-serif; font-size: small; margin-left: 2px; background-color: #5f6568 !important;");
            rejected.innerHTML = "Friend request sent";
            document.getElementById("randompeople" + userid).appendChild(rejected);
            elem.remove();
              
              }
          });
      }

    );

    $(document).on('click', '.friendRequest', function(event){
    event.preventDefault();
    var id = event.target.id;
    var elem = event.currentTarget;
    console.log(elem);
    var type = id.slice(0,6);
    var userid = id.slice(6);
    if(type === 'accept'){
          $.ajax({
              type:'GET',
              url:'',
              data:{
                  tag:'friendrequest',
                  type:'accept',
                  userid:userid,
              },  
              success:function(){
                document.getElementById("requestcard"+userid).remove();
                var newfriend = document.createElement('div');
                var innerlink1 = document.createElement('a');
                var innerlink2 = document.createElement('a');
                var innerlink3 = document.createElement('a');
                var innerimage = document.createElement('img');
                innerimage.className = "profilePic";
                innerimage.src = "{% static 'images/testimg.jpg' %}";
                innerlink1.href = "http://127.0.0.1:8000/user/"+userid;
                innerlink1.appendChild(innerimage);
                innerlink2.href = "http://127.0.0.1:8000/user/"+userid;
                innerlink2.className = "friendname ";
                innerlink2.innerHTML = userid
                newfriend.className = "pending--friends post--card";
                newfriend.setAttribute('style', "display: inline-flex; justify-content: center;");
                newfriend.appendChild(innerlink1);
                newfriend.appendChild(innerlink2);
                newfriend.id = "existingFriend" + userid;
                innerlink3.className = "unfriend likebuttonUnliked waves-effect btn"
                innerlink3.setAttribute('style',"font-size: small;")
                innerlink3.id = "unfriend" + userid;
                innerlink3.innerHTML = "❌UNFRIEND";
                newfriend.appendChild(innerlink3);
                document.getElementById('middlepanel').appendChild(newfriend);
              }
          });
      }
    else{
        $.ajax({
              type:'GET',
              url:'',
              data:{
                  tag:'friendrequest',
                  type:'reject',
                  userid:userid,
              },  
              success:function(){
                var rejected = document.createElement('button');
                rejected.className = "friendRequest disabled waves-effect btn";
                  rejected.setAttribute('style',"font-family: 'Nunito', sans-serif; font-size: small; margin-left: 2px; background-color: #5d2f33 !important;");
                  rejected.innerHTML = "Request Rejected";
                  document.getElementById(userid+"buttons").appendChild(rejected);
                  document.getElementById("accept"+userid).remove();
                  document.getElementById("reject"+userid).remove();
              
              }
          });
    }
    
    });


</script>
<script>
    $(document).on('click', '.unfriend', function(event){
    event.preventDefault();
    var id = event.currentTarget.id;
    var userid = id.slice(8,);
    $.ajax({
        type:'GET',
        url:'',
        data:{
            tag:'unfriend',
            userid:userid,
        },
        success:function(){
                document.getElementById("existingFriend" + userid).remove();
                var newfriend = document.createElement('div');
                var innerlink1 = document.createElement('a');
                var innerlink2 = document.createElement('a');
                var innerlink3 = document.createElement('a');
                var innerimage = document.createElement('img');
                innerimage.className = "profilePic";
                innerimage.src = "{% static 'images/testimg.jpg' %}";
                innerlink1.href = "http://127.0.0.1:8000/user/"+userid;
                innerlink1.appendChild(innerimage);
                innerlink2.href = "http://127.0.0.1:8000/user/"+userid;
                innerlink2.className = "friendname ";
                innerlink2.innerHTML = userid
                newfriend.className = "pending--friends post--card";
                newfriend.setAttribute('style', "display: inline-flex; justify-content: center;");
                newfriend.appendChild(innerlink1);
                newfriend.appendChild(innerlink2);
                innerlink3.className = "sendRequest likebuttonUnliked waves-effect btn"
                innerlink3.setAttribute('style',"font-size: small;")
                innerlink3.id = userid;
                innerlink3.innerHTML = "Send Friend Request";
                newfriend.id = "randompeople" + userid;
                newfriend.appendChild(innerlink3);
                document.getElementById('rightpanel').appendChild(newfriend);
              }
          });
    });

    


</script>

</html>