{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../../static/css/home--styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>Home</title>
</head>


<body>
    
    <div class="body--div">

        <div class="Icon">

        </div>

        <h2 style="color: white; font-size: 400%;">Welcome to UniNetwork</h1>
        <div class="Signup--button">
            <a class="btn btn-primary" href="/signup">
                <input type="Click here to Sign Up" placeholder="SignUp" class="form--signup"/>
            </a>
        </div>

        <br>
        <h3 style="color: white; font-size: 200%;">Already have an account?</h3>
        <br>
        <div class="Login--button">
            <a class="btn-primary" href="/login">
                <input type="Click here to Login" placeholder="Login" class="form--login"/>
            </a>
        </div>

    </div>    
    
</body>

</html>