{% load static %}
 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../../static/css/home--styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
 
 
<body style = "background: linear-gradient(70deg, #263238 50%, #90a4ae 50%)">
        <div class="row">
            <div class="col s5">
                <br><br><br><br><br><br><br><br><br><br>
                <h1 style="margin-left:3%; font-size:700%; color:#90a4ae">UniNetwork</h1>
            </div>
            <div class="col s5 offset-s2">
                <div class="col s12">
                    <br><br><br><br><br><br>
                    <h2 style="color:#263238 ">Welcome to UniNetwork.</h2>
                    <br>
                </div>
                <div class="col s12">
                    <a style="font-weight: bold;" href="/signup" class="waves-effect waves-light btn-large blue-grey darken-4 grey-text text-lighten-2">Sign Up</a>
                </div>
                <div class="col s12">
                    <br>
                    <h4 style="color: #e0e0e0 ">Have an Account Already?</h1>
                    <br>
                </div>
                <div class="col s12">
                        <a style="font-weight: bold;" href="/login" class="waves-effect waves-light btn-large blue-grey lighten-4 blue-grey-text text-darken-5">Login</a>
                </div>
            </div>
            
 
        </div>
 
    
    
</body>
 
</html>