
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../../static/css/login--styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <p class="navbar--text">Signup</p>
        <i class="material-icons">arrow_forward</i>
    </div>

    <hr />

    <div class="login--card">
        <div class="login--header">
            <p class="login--big--text">Here you can Login</p>
            <p class="login--small--text">Let's join us :)</p>
        </div>

        <div class="login--form">
            <form action="" method="post" class="form--items">
                {% csrf_token %}
                <label for="email">Username</label>
                <br/>
                <input type="text" id="email" name="username" class="form--email"/>
                <br/>
                <label for="password">Password</label>
                <br/>
                <input type="password" id="password" name="password" class="form--password"/>
                <br/>
                <input type="submit" placeholder="Login" class="form--login"/>
            </form>
        </div>
    </div>
</body>
</html>