{% load static %}
{% load extratags %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/post--styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>Post</title>
    <style>
        #commentModal{
            width: 500px;
        }
    </style>
</head>

<body>

    <div class="navbar">
        <p class="navbar--appname"><a href="{% url 'feed' %}" style="color: inherit">UniNetwork</a></p>
        <div class="navbar--icons">
            <a href="{% url 'feed' %}"><i class="material-icons">create</i></a>
            <a href="{% url 'allPages' %}"><i class="material-icons">pages</i></a>
            <a href="{% url 'friends' %}"><i class="material-icons">people</i></a>
            <a href="{% url 'profile' request.user.username %}"><i class="material-icons">person</i></a>
        </div>
    </div>

    <div class="main--page">
        <div class="middle--panel">
            <!-- POST CARD BEGIN -->
            <div class="post--card">
                <div class="card--navbar">
                    <img class="profilePic" src="{{ this_post.user|profilepicfromuser }}" alt="">
                    &nbsp;
                    <div class="name--time--page">
                        <div class="name--page">
                            <p class="profile--name">{{ this_post.user.username }}</p>
                            {% if this_post.page != None %}
                                <i class="material-icons">play_arrow</i>
                                <p class="page--name">L Merchants</p>
                            {% endif %}
                        </div>
                        <div class="time">
                            <p class="post--time">{{ this_post.PostedOn }}</p>
                        </div>

                    </div>

                </div>

                <div class="card--title">{{ this_post.Title }}</div>
                <div class="card--content">
                    {{ this_post.Body }}
                    <br><br>
                    {% if this_post.Image != None and this_post.Image != "" %}
                        <img src="{{ this_post.Image.url }}" alt="" style="max-width: 100%;">
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col xl3">
                        {% if this_post|likedpost:request.user %}
                        <button class="likebuttonLiked waves-effect waves-light btn likepost">
                            <i class="material-icons left">thumb_up_off_alt</i>LIKED
                        </button>
                        {% else %}
                        <button class="likebuttonUnliked waves-effect waves-light btn likepost">
                            <i class="material-icons left">thumb_up_off_alt</i>LIKE
                        </button>
                        {% endif %}
                    </div>
                    <div class="col xl6">
                    <a href="#postlikes" class="modal-trigger">
                        <div class="row">
                            <div class="col xl1"><p style="font-size: 16px" id="PostlikeCount">{{ this_post.LikeCount }}</p></div>
                            <div class="col xl9"><p style="font-size: 16px">People Have liked this post</p></div>
                        </div>
                    </a>
                    <div id="postlikes" class="modal">
                        <div id="postlikesmodal" class="modal-content">
                          <h5>People Who liked this post</h5>
                          <br>
                          {% for liker in postLikers %}
                          <a href="" class="liker" id="postLiker{{ liker.username }}">
                            <img src="{{ liker|profilepicfromuser }}" class="commentprofilePic" alt="">
                            &nbsp;&nbsp;
                            <p class="left--accountName">{{ liker.username }}</p>
                          </a>
                          {% endfor %}
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class="modal-close left .center-align waves-effect waves-red btn-flat white-text">CLOSE</a>
                        </div>
                    </div>
                    </div>
                    <div class="col xl3">
                        <a href="#commentModal" class="likebuttonUnliked waves-effect waves-light btn modal-trigger">
                            COMMENT
                        </a>
                    </div>
                </div>
            </div>
            <div id="commentModal" class="modal">
                <div class="modal-content">
                  <h4>Add a new comment</h4>
                  <form action="" method="POST">
                      {% csrf_token %}
                    <div style="margin-top: 1px; margin-bottom: 1px;" class="row">
                        <div class="col s12">
                          <div style="width: 100% !important;" class="input-field inline">
                            <input required name="comment" id="postTtile" type="text">
                            <label for="postTtile">Comment</label>
                          </div>
                        </div>
                      </div>
                    
                <div style="text-align: center !important;" class="modal-footer">
                    <button type="submit" class="waves-effect waves-green btn">Comment</button>
                </div>
            </form>
              </div>
              </div>
            <!-- END OF POST CARD -->
            <p class="commentTitle"> Comments &nbsp;<span>({{ this_post.CommentCount }})</span></p>
            {% for cwl in comment_info %}
            <div style="width: 600px !important; border-radius: 10px;" class="card blue-grey darken-1">
                <div style="padding:10px;" class="card-content white-text">
                    <div style="margin-bottom: 10px;" class="row valign-wrapper">
                        <div class="col xl1" style="margin-left: 0 !important; padding: 0;">
                                <a href="" style="text-decoration: none; color: white;">
                                <img class="commentprofilePic" src="{{ cwl.0.user|profilepicfromuser }}" alt="">
                                </a>
                            </div>
                        <div class="col xl6" style="font-size: large; margin-left: 0px !important;">
                            <a href="" style="text-decoration: none; color: white;">
                                {{ cwl.0.user.username }}
                            </a>
                        </div>
                    </div>
                  <p>
                      {{ cwl.0.Body }}
                  </p>
                </div>
                <div class="card-action" style="padding: 0; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                    <div class="row"  style="margin-bottom: 0 !important; height: fit-content;">
                        <div class="col xl3">
                            {% if cwl|liked:request.user %}
                            <a id="{{ cwl.0.CommentID }}" class="likebuttonLiked waves-effect waves-light btn likecomment">
                                <i class="material-icons left">thumb_up_off_alt</i>LIKED
                            </a>
                            {% else %}
                            <a id="{{ cwl.0.CommentID }}" class="likebuttonUnliked waves-effect waves-light btn likecomment">
                                <i class="material-icons left">thumb_up_off_alt</i>LIKE
                            </a>
                            {% endif %}
                        </div>
                        <div class="col xl2">
                            <a href="#commentlikes{{ cwl.0.CommentID }}" class="modal-trigger">
                                <div class="row" style="color: aqua; margin-bottom: 10px;">
                                    <div class="col xl1"><p style="font-size: 15px; margin-bottom: 0px;" id="commentlikeCount{{ cwl.0.CommentID }}">{{ cwl.2 }}</p></div>
                                    <div class="col xl9"><p style="font-size: 15px; margin-bottom: 0px;">Likes</p></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

              </div>
              <div id="commentlikes{{ cwl.0.CommentID }}" class="modal">
                <div id="commentLikesModal{{ cwl.0.CommentID }}" class="modal-content">
                  <h5 class="white-text">People Who liked this comment</h5>
                  <br>
                  {% for liker in cwl.1 %}
                  <a id="{{ cwl.0.CommentID }}commentLiker{{ liker.username }}" href="" class="liker">
                    <img src="{{ liker|profilepicfromuser }}" class="commentprofilePic" alt="">
                    &nbsp;&nbsp;
                    <p class="left--accountName">{{ liker.username }}</p>
                  </a>
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close left .center-align waves-effect waves-red btn-flat white-text">CLOSE</a>
                </div>
            </div>
            {% endfor %}
            <!-- END OF COMMENT CARD -->
           
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
</script>
<script>
    $(document).on('click', '.likepost', function(event){
    event.preventDefault();
    var elem = event.currentTarget;
    var classes = elem.classList;
    
    if(classes.contains('likebuttonUnliked')){
        
        $.ajax({
            type:'GET',
            url:'',
            data:{
                tag:'likepost',
            },  
            success:function(){
        //   elem = $('#popupmessage-add');
        //   elem.fadeIn(400);
        //   elem.delay(2200);
        //   elem.fadeOut(400);
            elem.childNodes[2].nodeValue = "LIKED";
            elem.className = "likebuttonLiked waves-effect waves-light btn likepost";
            var lk = document.getElementById("PostlikeCount");
            lk.innerHTML = String(parseInt(lk.innerHTML) + 1);
            var newliker = document.createElement('a');
            var prpic = document.createElement('img');
            prpic.src = "{{ request.user|profilepicfromuser }}";
            prpic.className = "commentprofilePic";
            newliker.appendChild(prpic);
            newliker.className = "liker";
            newliker.href = "";
            newliker.innerHTML += '&nbsp;&nbsp;';
            var newp = document.createElement("p");
            newp.className = "left--accountName";
            newp.innerHTML = "{{ request.user.username }}";
            newliker.appendChild(newp);
            newliker.id = "postLiker{{ request.user.username }}"
            document.getElementById("postlikesmodal").appendChild(newliker);
            }
        });
      }
    else{
        $.ajax({
            type:'GET',
            url:'',
            data:{
                tag:'unlikepost',
            },  
            success:function(){
        //   elem = $('#popupmessage-add');
        //   elem.fadeIn(400);
        //   elem.delay(2200);
        //   elem.fadeOut(400);
            elem.childNodes[2].nodeValue = "LIKE";
            elem.className = "likebuttonUnliked waves-effect waves-light btn likepost";
            var lk = document.getElementById("PostlikeCount");
            lk.innerHTML = String(parseInt(lk.innerHTML) - 1);
            var liker = document.getElementById("postLiker{{ request.user.username }}");
            liker.remove();
            }
        });
    }
    
    });
</script>
<script>
    $(document).on('click', '.likecomment', function(event){
    event.preventDefault();
    var elem = event.currentTarget;
    var commentID = elem.id;
    var classes = elem.classList;
    
    if(classes.contains('likebuttonUnliked')){
        
        $.ajax({
            type:'GET',
            url:'',
            data:{
                tag:'likecomment',
                cid:commentID,
            },  
            success:function(){
        //   elem = $('#popupmessage-add');
        //   elem.fadeIn(400);
        //   elem.delay(2200);
        //   elem.fadeOut(400);
            elem.childNodes[2].nodeValue = "LIKED";
            elem.className = "likebuttonLiked waves-effect waves-light btn likecomment";
            var lk = document.getElementById("commentlikeCount" + String(commentID));
            lk.innerHTML = String(parseInt(lk.innerHTML) + 1);
            var newliker = document.createElement('a');
            var prpic = document.createElement('img');
            prpic.src = "{{ request.user|profilepicfromuser }}";
            prpic.className = "commentprofilePic";
            newliker.appendChild(prpic);
            newliker.className = "liker";
            newliker.href = "";
            newliker.innerHTML += '&nbsp;&nbsp;';
            var newp = document.createElement("p");
            newp.className = "left--accountName";
            newp.innerHTML = "{{ request.user.username }}";
            newliker.appendChild(newp);
            newliker.id = String(commentID) + "commentLiker{{ request.user.username }}"
            document.getElementById("commentLikesModal" + String(commentID)).appendChild(newliker);
            }
        });
      }
    else{
        $.ajax({
            type:'GET',
            url:'',
            data:{
                tag:'unlikecomment',
                cid:commentID,
            },  
            success:function(){
        //   elem = $('#popupmessage-add');
        //   elem.fadeIn(400);
        //   elem.delay(2200);
        //   elem.fadeOut(400);
            elem.childNodes[2].nodeValue = "LIKE";
            elem.className = "likebuttonUnliked waves-effect waves-light btn likecomment";
            var lk = document.getElementById("commentlikeCount" + String(commentID));
            lk.innerHTML = String(parseInt(lk.innerHTML) - 1);
            var liker = document.getElementById(String(commentID) + "commentLiker{{ request.user.username }}");
            console.log(String(commentID) + "commentLiker{{ request.user.username }}");
            liker.remove();
            }
        });
    }
    
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var elems2 = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems2);
    var instances = M.Modal.init(elems);
  });
</script>
</html>